<h1>Confirmar Correo</h1>
<div>
    <p>
        Gracias por confirmar su correo electrónico. Por favor <a asp-controller="Account" asp-action="Login">Da clic aqui para iniciar sesion.</a>.
    </p>
</div>
